*{
	box-sizing:border-box;
	font-family: "Times New Roman", times, sans-serif;
}
body{
	font-size:62.5%;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	text-decoration-color: #736d6c;
	color: #736d6c;
}
.topbarcon{
	display: flex;
	flex-direction: row;
	justify-content:flex-end;
	align-items: center;
	font-size:1.5rem;
	background-color:#d4cac9;
}
.numb{
	margin-right:auto;
	font-size:1.5rem;
	padding: 15px;
}
.info{
	display: flex;
	align-items: center;
	font-size:1.5rem;
}
.acc{
	padding: 15px;
}

.curr{
	padding: 15px;
}
.cart{
	padding: 15px;
}
.search{
	font-size:1.5rem;
	padding: 15px;
}
input{
	font-size:1.5rem;
	background-color:#d4cac9;
}
.searchbut{
	font-size:1.5rem;
	background-color:#d4cac9;
}
nav{
	display: flex;
	flex-direction: row;
	justify-content:flex-end;
	align-items: center;
	font-size:1.5rem;
	background-color:#ffffff;
	width: 75%;	
	margin:0 auto;
}
.logo{
	margin-right:auto;
	font-size:1.5rem;
}